.add-campground {
    width: min(100%, 40rem);
    margin: 0 auto;

    .button {
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }


}

@media (min-width:640px) {
    h1 {
        font-size: 2rem;
    }
}